@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">This project is designed around the idea of a movie rental store.</p>
</div>

<div class="row">

</div>